DB_URL=jdbc:postgresql://localhost:5432/hublink
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379

ECR_REGISTRY=107453887487.dkr.ecr.ap-northeast-2.amazonaws.com

EUREKA_URL=http://localhost:19090/eureka/
CONFIG_SERVER_URL=http://localhost:19092

SWAGGER_GATEWAY_URL=http://localhost:19091
ZIPKIN_URL=http://localhost:9411/api/v2/spans

SLACK_BOT_TOKEN=

AI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent
AI_API_KEY=

KAKAO_REST_API_KEY=

JWT_SECRET=
